body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
video{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}
.contenedor{
    place-items: center;
    position: relative;
    z-index: 2;
    justify-content: space-evenly;
    place-items: center;
    justify-content: center;
    text-align: center;
}
h1{
    margin-top: 50px;
    margin-bottom: 40px;
    box-shadow: 0 0 30px 0 rgba(255, 0, 0, 0.682);
    border-radius: 40px;
    place-items: center;
    text-align: center;
    border: 1px solid red;
    padding: 30px;
}
h1{
    background: linear-gradient(1300deg, white,gray,black);
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
}
@keyframes animate{
    0%{
        background-position:0%;
    }
    100%{
        background-position:400%;
    }
}
.foto1{
    margin: 20px;
    width: 300px;
    height: 300px;
    transition: 1s ease;
    box-shadow: 0 0 20px 0 rgba(255, 0, 0, 0.682);
}
img:hover{
    transform: scale(0.9);
    transition: 1s ease;
}

.contenedor2{
    position: absolute;
    z-index: 4;
    background-color:gray;
    color:white;
    border: none;
    margin-top: 60%;
    margin-left: 84%;
    padding: 14px 28px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 1s ease;
    box-shadow: 0 4px 10px gray ;
}
a{
    background: linear-gradient(270deg,purple, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contenedor2:hover{
    transition: transform 1s ease;
    transform: translateY(-10px);
    background-color: gainsboro;
    box-shadow: 0 12px 20px black;
}
